# Build directories & external trees
/target/
/bin/
/linux/

# Documentation / Meta files
/docs/

# Generated kernel/initramfs artifacts
/initramfs.cpio.gz
*.cpio.gz
*.elf

# OS & Editor temporary files
.DS_Store
*.swp
*~

